@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./assets/fonts/Gilroy-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./assets/fonts/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'), url(./assets/fonts/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: local('Gilroy-SemiBold'), url(./assets/fonts/Gilroy-SemiBold.ttf) format('truetype');
}



body {
  margin: 0;
  font-family: 'Gilroy-Medium';
  background: rgba(247, 244, 255, 0.5)
}

